<% provide(:title, "Playing a game") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-1"><div class="card">monster area</div></div>
		<div class="col-md-5"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player1card1</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">player2card1</div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player1card2</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">2nd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">player2card2</div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player1card3</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">player2card3</div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player1card4</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">player2card4</div></div>
		<div class="col-md-1"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player3card1</div></div>
		<div class="col-md-1"><div class="card">player3card2</div></div>
		<div class="col-md-1"><div class="card">player3card3</div></div>
		<div class="col-md-1"><div class="card">player3card4</div></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"><div class="card">player4card1</div></div>
		<div class="col-md-1"><div class="card">player4card2</div></div>
		<div class="col-md-1"><div class="card">player4card3</div></div>
		<div class="col-md-1"><div class="card">player4card4</div></div>
		<div class="col-md-1"></div>
	</div>
</div>