<% provide(:title, "Home") %>
<h1>Project Super Great!</h1>
<p>Server for project super great!</p>
<%= link_to "Play a game", games_index_url %>
<br/>
<%= link_to "View and edit cards", cards_path %>
<br/>
<%= link_to "View and edit monsters", monsters_path %>